// colors:
$brand-blue: #0070c3;
$brand-red: #e92627;
$red-hover: #d22223;
$attention-red: #ff351d;
$brand-yellow: #f3d35d;
$yellow-hover: #dbbe54;

$grayColor: #a2a2a2;

// fonts:
$helv: Helvetica, sans-serif;
$adder: Adderley, sans-serif;
