@font-face {
    font-family: 'Adderley';
    src: url('../fonts/adderley_bold.woff2') format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica_bold.woff2') format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica_regular.woff2') format("woff2");
    font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $adder;
}

p {
    font-family: $helv;
}