// colors:
$brand-blue: #0070C3;
$brand-red: #E92627;
$red-hover: #D22223;
$attention-red: #FF351D;
$brand-yellow: #F3D35D;
$yellow-hover: #DBBE54;

// fonts:
$helv: Helvetica, sans-serif;
$adder: Adderley, sans-serif;